AGENTBOND_DATABASE_URL=postgres://agentbond:agentbond_local_only@127.0.0.1:5433/agentbond
AGENTBOND_RPC_URL=http://127.0.0.1:8899
AGENTBOND_PROGRAM_ID=iTRhr3SWUeJAjjSzeegGuGei5gDdCxaxhs93sotsCjo
AGENTBOND_USE_MOCK=1
